<!doctype html>
<html lang="en">
<head>
    <title>Schedule-My-Day</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <!-- css hotlink cdn for bootsrap from website -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- bootstrap icon links cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <!-- mapbox css link -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet' />
    <!-- mapbox script -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js'></script>
    <!-- mabbox geocoder sript -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <!-- mabbox geocoder stylesheet -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
    <!-- stylesheet -->
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top ">

      <div class="container">
          <!-- navbar logo -->
          <a href="/" class="navbar-brand">Schedule-My-Day</a>
          <!-- navbar button -->
          <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navMenu"
          >
          <span class ='navbar-toggler-icon'></span> 
          </button>
          <!-- navbar links -->
          <div class="collapse navbar-collapse" id="navMenu">

              <ul class="navbar-nav ms-auto">
              <!-- <li class="nav-item">
                  <a href="#learn" class="nav-link">what you will learn</a>
              </li>
              <li class="nav-item">
                  <a href="#questions" class="nav-link">questions</a>
              </li>
              <li class="nav-item">
                  <a href="#instructors" class="nav-link">instructors</a>
              </li> -->
              <li class="nav-item">
                  <a href="/logout" class="nav-link"><span class="fa fa-user"></span>Logout</a>
              </li>
              
              <li class="nav-item">
                <a href="/profile" class="nav-link"><span class="fa fa-user"></span>Profile</a>
              </li>
              </ul>

          </div>
      
      </div>
  
  </nav>

  <!-- modal button for quickMap -->
  <div class="fixed-bottom mt-5 text-center">

    <button
    class="btn btn-warning btn-lg"
    data-bs-toggle="modal"
    data-bs-target="#enroll"
  >
    QuickMap
  </button>
  </div>

  <!-- Banner -->
  <section
    class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
  >
    <div class="container">
      <div class="d-sm-flex align-items-center justify-content-between">
        <div>
          <h1>Making memories <span class="text-warning" > effortlessly</span></h1>
          <p class="lead my-4">
            spending time with family, friends and children adds tremendous value to ones life.
            We focus on creating a frictionless experience in spending time with those close to you.
            Let us focus on the research and planning and you focus on creating unforgettable memories.

          </p>

          
          

          <!-- address form -->
      
            <div class="form-group">
                <label>Location</label>
                <input type="text" class="form form-control" name="email" placeholder="2924 Pennsylvania Avenue Lakewood, NJ 08701 " id='address'>
                <button class="btn btn-warning btn-lg mb-4" id='geoButton'>search</button>
            </div>
            
          

        </div>
        <img
          class="img-fluid w-50 d-none d-sm-block"
          src="img/showcase.svg"
          alt=""
        />
      </div>
    </div>
  </section>

  <!-- restaurants -->
  <section id="instructors" class="p-5 bg-primary">
    <div class="container">
      <h2 class="text-center text-white">Restaurants Near Me</h2>
      
      <div class="d-flex flex-row  overflow-auto">
        
        <div class="col-md-6 col-lg-3 col-sm-12 ">
          <div class="card bg-light ">
            <div class="card-body text-center">
              <div class="today" id="RestaurantOne">
                <img src="img/restaurant.png" alt="weather icon" class="w-icon p-3">
                <h3 class="card-title mb-3 ret">Restaurant 1 Name</h3>
                <div class="other">
                    <div class="day">restaurant address</div>
                    <div class="temp">cuisine 1</div>
                    <div class="temp">cuisine 2</div>
                </div>
                <button class="btn btn-warning btn-lg mb-4 bookmarkButton mt-3">bookmark</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card bg-light">
            <div class="card-body text-center">
              <div class="today" id="RestaurantTwo">
                <img src="img/restaurant.png" alt="weather icon" class="w-icon p-3">
                <h3 class="card-title mb-3 ret">Restaurant 1 Name</h3>
                <div class="other">
                    <div class="day">restaurant address</div>
                    <div class="temp">cuisine 1</div>
                    <div class="temp">cuisine 2</div>
                </div>
                <button class="btn btn-warning btn-lg mb-4 bookmarkButton mt-3">bookmark</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card bg-light">
            <div class="card-body text-center">
              <div class="today" id="RestaurantThree">
                <img src="img/restaurant.png" alt="weather icon" class="w-icon p-3">
                <h3 class="card-title mb-3 ret">Restaurant 1 Name</h3>
                <div class="other">
                    <div class="day">restaurant address</div>
                    <div class="temp">cuisine 1</div>
                    <div class="temp">cuisine 2</div>
                </div>
                <button class="btn btn-warning btn-lg mb-4 bookmarkButton mt-3">bookmark</button>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card bg-light">
            <div class="card-body text-center">
              <div class="today" id="RestaurantFour">
                <img src="img/restaurant.png" alt="weather icon" class="w-icon p-3">
                <h3 class="card-title mb-3 ret">Restaurant 1 Name</h3>
                <div class="other">
                    <div class="day">restaurant address</div>
                    <div class="temp">cuisine 1</div>
                    <div class="temp">cuisine 2</div>
                </div>
                <button class="btn btn-warning btn-lg mb-4 bookmarkButton mt-3">bookmark</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- parks -->
  <section id="instructors" class="p-5 bg-primary">
    <div class="container">
      <h2 class="text-center text-white">Parks Near Me</h2>
      <div class="d-flex flex-row  overflow-auto">
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card bg-light">
            <div class="card-body text-center">
              <div class="today" id="parkOne">
                <img src="img/nature.png" alt="weather icon" class="w-icon p-3">
                <h3 class="card-title mb-3 ret">Park One Name</h3>
                <div class="other">
                    <div class="day">Park address</div>
                </div>
                <button class="btn btn-warning btn-lg mb-4 bookmarkButton mt-3">bookmark</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card bg-light">
            <div class="card-body text-center">
              <div class="today" id="parkTwo">
                <img src="img/nature.png" alt="weather icon" class="w-icon p-3">
                <h3 class="card-title mb-3 ret">Park Two Name</h3>
                <div class="other">
                    <div class="day">Park address</div>
                </div>
                <button class="btn btn-warning btn-lg mb-4 bookmarkButton mt-3">bookmark</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card bg-light">
            <div class="card-body text-center">
              <div class="today" id="parkThree">
                <img src="img/nature.png" alt="weather icon" class="w-icon p-3">
                <h3 class="card-title mb-3 ret">Park Three Name</h3>
                <div class="other">
                    <div class="day">Park address</div>
                </div>
                <button class="btn btn-warning btn-lg mb-4 bookmarkButton mt-3">bookmark</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card bg-light">
            <div class="card-body text-center">
              <div class="today" id="parkFour">
                <img src="img/nature.png" alt="weather icon" class="w-icon p-3">
                <h3 class="card-title mb-3 ret">Park Four Name</h3>
                <div class="other">
                    <div class="day">Park address</div>
                </div>
                <button class="btn btn-warning btn-lg mb-4 bookmarkButton mt-3">bookmark</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- Weather -->
    <section id="instructors" class="p-5 bg-primary">
    <div class="container">
      <h2 class="text-center text-white"> Weather Forecast</h2>
      <div class="d-flex flex-row  overflow-auto">
        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card bg-light">
            <div class="card-body text-center">
              <div class="today" id="current-temp">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="other">
                    <h3 class="day">Day</h3>
                    <div class="temp">Day - 35.6&#176; C</div>
                    <div class="temp">Night - 25.6&#176; C</div> 
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card bg-light">
            <div class="card-body text-center">
              <div class="today" id="dayTwo-temp">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="other">
                  <h3 class="day">Day</h3>
                  <div class="temp">Day - 35.6&#176; C</div>
                  <div class="temp">Night - 25.6&#176; C</div> 
                </div>
            </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card bg-light">
            <div class="card-body text-center">
              <div class="today" id="dayThree-temp">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="other">
                  <h3 class="day">Day</h3>
                    <div class="temp">Day - 35.6&#176; C</div>
                    <div class="temp">Night - 25.6&#176; C</div> 
                </div>
            </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 col-sm-12">
          <div class="card bg-light">
            <div class="card-body text-center">
              <div class="today" id="dayFour-temp">
                <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather icon" class="w-icon">
                <div class="other">
                  <h3 class="day">Day</h3>
                  <div class="temp">Day - 35.6&#176; C</div>
                  <div class="temp">Night - 25.6&#176; C</div> 
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Question Accordion -->
  <section id="questions" class="p-5 mb-5">
      <div class="container">
        <h2 class="text-center mb-4">Frequently Asked Questions</h2>
        <div class="accordion accordion-flush" id="questions">
           <!-- Question 1 -->
           <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-three"
              >
                how do I use this application?
              </button>
            </h2>
            <div
              id="question-three"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                This project is for creating a full-stack web application to be consumed by the public.<br>
                This web application allows you to use several API's together to gather local information for restaurants, parks, and weather forecast.<br>
                This application was designed easily having accessible information across many fields with one input.<br>
                What this application does is allow you to put in an address, and have API's return bookmarkable information to you!<br>
                Additional features include a easily accessible interactive map using the quickmap feature.<br>
              </div>
            </div>
          </div>
          <!-- Question 2 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-one"
              >
                What technologies does this web application use?
              </button>
            </h2>
            <div
              id="question-one"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                **Tech Stack: HTML, CSS, JavaScript, Express, Node.js, Boostrap, Passport, Mongoose, EJS **  <br> 
                <br> 
                **API's Used: Travel Advisor API, Google Maps Geocoding API, openweathermap API, Places API, MapBox API, AddThis API**  


              </div>
            </div>
          </div>
          <!-- Question 3 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-two"
              >
                How much did it cost to build this application?
              </button>
            </h2>
            <div
              id="question-two"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
               Beleive it or not this application was free to build!<br> 
               The techologies being used are all open source thanks to the free public online repository NPM.<br>
               The api's being consumed are a freemium model, as long as you do not exceed a quota they are free to use.<br> 
               The hosting platform is Heroku which hosts the node.js server for free (up to 5 projects).
              </div>
            </div>
          </div>
          <!-- Question 4 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-four"
              >
                what is your favorite part of this application?
              </button>
            </h2>
            <div
              id="question-four"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
              My favorite part about this application is that its a culmination of all of my previous projects. It uses everything i have learned
              in programming to create a publicly available application that has real value to myself and others. I am excited to use this application personally to
              help have one less thing to worry about when scheduling with friends and family.   
              </div>
            </div>
          </div>
          <!-- Question 5 -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-five"
              >
                how can we connect?
              </button>
            </h2>
            <div
              id="question-five"
              class="accordion-collapse collapse"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                Thank you so much for your time and interest in connecting. Here are some professional links: <br>
                <br>
                My Portfolio: https://ascencio-ian-698.netlify.app<br>
                <br>
                My LinkedIn: https://www.linkedin.com/in/ian-ascencio-546487190<br>
                <br>
                My Resume: https://drive.google.com/file/d/1-GG1DZviauDjPDHcxPDTDjfe0hR9nbk_/view?usp=sharing<br>
                <br>
                My Github: https://github.com/ascencioian<br>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <!-- modal for QuickMap -->
  <div
  class="modal fade"
  id="enroll"
  tabindex="-1"
  aria-labelledby="enrollLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="enrollLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        
      </div>
      <section class="container">
        <!-- MapBox body -->
        <h2 class="text-center text-black">Reference Map</h2>
        <div id='map' style='width: 100%; height: 400px;'></div>
      </section>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        
      </div>
    </div>
  </div>
  </div>

  <!-- bootstrap javascript script -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"
  ></script>
  
  <!-- moment script for unix time conversions -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 
 <!--Public folder scripts -->
  <script src="main.js"></script>
  <script src="geo_location.js "></script>
  <script src="weather_api.js"></script>
  <script src="restaurant_api.js"></script>
  <script src="parks_api.js"></script>
  <script src="mapbox.js"></script>

  <!-- fixed sharing links -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-61a29e86c4c7ffc3"></script>
</body>
</html>
